@import '../../styles/main.scss';

.card {
  color: $color-dark-grey;
  background-color: $color-white;
  border: 1px solid $color-light-grey;
  border-radius: 5px;
  box-shadow: $shadow;
  overflow: hidden;

  &__img {
    height: 217px;
  }

  &__content {
    padding: 25px;
  }

  &__icon-calendar {
    height: 13.5px;
    width: 13.5px;
    padding-right: 22.5px;
    background: url(../../styles/icons/Calendar.svg) no-repeat;
  }

  &__published {
    margin-bottom: 24px;
    font-size: $fs-14;
    opacity: 0.6;
  }

  &__title {
    margin-bottom: 20px;
    font-size: $fs-24;
    font-weight: $fw-400;
    line-height: 29px;
  }

  &__description {
    margin-bottom: 20px;
    line-height: 150%;
  }

  &__link {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-weight: $fw-700;

    &::before {
      content: '';
      position: absolute;
      left: 0; 
      bottom: -5px;
      width: 0;
      height: 1.5px;
      background-color: $color-dark-grey;
    }
    
    &:hover:before {
      width: 100%;
    }
    
    &::before {
      transition: width 0.35s;
    }
  }
  
  &__icon-arrow {
    height: 10px;
    width: 12px;
    margin-left: 6px;
    background: url(../../styles/icons/Arrow-right.svg) no-repeat;
  }
}